@model HomeModel
@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, eu sou @Model.Nome</h1>
    <p></a>Esse é o meu primeiro site em MVC</p>
    <span>O meu email é: @Model.Email</span>
</div>
